interactions:
- request:
    body: null
    headers:
      content-type: [application/json]
      x-api-key: [4839484fa90147d6bb88f8db0c791ff1]
    method: GET
    uri: https://usermanagement.adobe.io/v2/usermanagement/users/210DB41957FFDC210A495E53@AdobeOrg/0?directOnly=True
  response:
    body: {string: "{\"lastPage\":true,\"result\":\"success\",\"users\":[{\"email\":\"asmith@k.on-the-side.net\",\"status\":\"active\",\"groups\":[\"Ber\xE7u
        Test Gr\xF8\xFCp\",\"DBrotsky Test UG\"],\"username\":\"asmith\",\"domain\":\"k.on-the-side.net\",\"firstname\":\"Andr\xE9\",\"lastname\":\"Smith\",\"country\":\"FR\",\"type\":\"federatedID\"},{\"email\":\"bhunut@adobe.com\",\"status\":\"active\",\"username\":\"bhunut@adobe.com\",\"adminRoles\":[\"org\"],\"domain\":\"adobe.com\",\"firstname\":\"Kevin\",\"lastname\":\"Bhunut\",\"country\":\"US\",\"type\":\"adobeID\"},{\"email\":\"cce-user15@ensemble.ca\",\"status\":\"active\",\"username\":\"CCE-USER15@ENSEMBLE.CA\",\"domain\":\"ensemble.ca\",\"lastname\":\"User
        7\",\"country\":\"US\",\"type\":\"enterpriseID\"},{\"email\":\"cce-user16@ensemble.ca\",\"status\":\"active\",\"username\":\"CCE-USER16@ENSEMBLE.CA\",\"domain\":\"ensemble.ca\",\"lastname\":\"User
        8\",\"country\":[...]
- request:
    body: !!python/unicode '[{"do": [{"update": {"lastname": "0", "firstname": "CcE
      \u4e2d\u6587\u8003\u8bd5"}}], "requestID": "action_1", "user": "CCE0@ensemble.ca"},
      {"do": [{"update": {"lastname": "3", "email": "CCE3@ensemble.CA", "firstname":
      "CCE \u4e2d\u6587\u8003\u8bd5 TEST"}}], "requestID": "action_2", "user": "CCE3@ensemble.CA"},
      {"do": [{"update": {"lastname": "6", "email": "cce6@ensemble.ca", "firstname":
      "cce hello"}}], "requestID": "action_3", "user": "cce6@ensemble.ca"}, {"do":
      [{"createEnterpriseID": {"lastname": "4471", "country": "US", "email": "BulkUser4471@ensemble.com",
      "firstname": "BulkUser", "option": "updateIfAlreadyExists"}}], "requestID":
      "action_4", "user": "BulkUser4471@ensemble.com"}, {"do": [{"createEnterpriseID":
      {"lastname": "4632", "country": "US", "email": "BulkUser4632@ensemble.com",
      "firstname": "BulkUser", "option": "updateIfAlreadyExists"}}], "requestID":
      "action_5", "user": "BulkUser4632@ensemble.com"}, {"do": [{"createEnterpriseID":
      {"lastname": "92", "country": "US", "email": "BulkUser92@ensemble.com", "firstname":
      "BulkUser", "option": "[...]
[...]
