interactions:
- request:
    body: null
    headers:
      content-type: [application/json]
      x-api-key: [4839484fa90147d6bb88f8db0c791ff1]
    method: GET
    uri: https://usermanagement.adobe.io/v2/usermanagement/users/210DB41957FFDC210A495E53@AdobeOrg/0?directOnly=True
  response:
    body: {string: "{\"lastPage\":true,\"result\":\"success\",\"users\":[{\"email\":\"asmith@k.on-the-side.net\",\"status\":\"active\",\"groups\":[\"Ber\xE7u
        Test Gr\xF8\xFCp\",\"DBrotsky Test UG\"],\"username\":\"asmith\",\"domain\":\"k.on-the-side.net\",\"firstname\":\"Andr\xE9\",\"lastname\":\"Smith\",\"country\":\"FR\",\"type\":\"federatedID\"},{\"email\":\"bhunut@adobe.com\",\"status\":\"active\",\"username\":\"bhunut@adobe.com\",\"adminRoles\":[\"org\"],\"domain\":\"adobe.com\",\"firstname\":\"Kevin\",\"lastname\":\"Bhunut\",\"country\":\"US\",\"type\":\"adobeID\"},{\"email\":\"cce-user15@ensemble.ca\",\"status\":\"active\",\"username\":\"CCE-USER15@ENSEMBLE.CA\",\"domain\":\"ensemble.ca\",\"lastname\":\"User
        7\",\"country\":\"US\",\"type\":\"enterpriseID\"},{\"email\":\"cce-user16@ensemble.ca\",\"status\":\"active\",\"username\":\"CCE-USER16@ENSEMBLE.CA\",\"domain\":\"ensemble.ca\",\"lastname\":\"User
        8\",\"country\":[...]
